 .header {
    text-align: center;
    border-top: 100px solid red;
    border-bottom: 5px solid black;
    width: 100%;
    margin: 0;
  }

  #quote {
    margin-top: -80px;
    color: whitesmoke;
    font-size: 20px;
  }

  .background {
    height: 560px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
  }