 .flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.square {

    width: 150px;
    height: 200px;
    margin: 20px;
    background-color: red;
    padding: 20px;
}