*{
  margin: 0;
  padding: 0;
}

nav {
    background-color: white;
    padding: 20px;
    display: flex;
  }

ul{
    text-align: center;
    list-style: none;
    display: flex;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: red;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}
nav a:hover {
    color: rgb(0, 128, 122);
    font-size: 22px;
  }

  .nightmode {
    background-color: black;
  }

  .nightModeButton {
    margin-left: auto;
  }

  .nightModeButton button {
    border: 2px solid red;
    border-color: red;
    color: red;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0) ;
  }